:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --font-family: "Outfit", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--light-gray);
  color: var(--grayish-blue);
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 2px);
}

h3 {
  color: var(--dark-blue);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
}

p {
  font-size: 0.9375rem;
}

.image {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  border-radius: 15px;
  width: 90%;
}

.card {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  height: 465px;
  width: 18.75rem;
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-details {
  padding: 0 2rem;
  text-align: center;
}

.card-title {
  margin: 1rem 0;
}

.card-info {
  margin-bottom: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
